.home_cover, .nosotros-texto, #servicios-div, .productos-div, .contacto {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

.home_cover {
  justify-content: center;

}


#servicios-div, .productos-div {
  padding-top: 4em;
  //align-items:  center;
  //justify-content: flex-start;
  h1 {
    font-size: 3em;
  }
  ul li {
    font-size: 1.6em;
  }

}

.productos-div{
 p{
   font-size: 1.3em;
   text-align: justify;
 }
   h1 {
      text-align: center;
     text-transform: uppercase;

  }
  h2 {
    padding-left: 5em;
  }
  img {
    max-width: 100%;
    max-height: 25em;
  }
}

.sistemas-div {
  height: 100vh;
  padding-top: 5em;
h1 {
  text-align: center;
}
  p {
    font-size: 1.125em;
  }

}



.home_cover {
  align-items: center;
}

//Estilos para sistemas.php



//Estilos para nosotros.php

.nosotros-texto {
  padding-left: 4em;
  padding-top: 5em;


  p{
    font-size: 1.2em;
  }
}


//Estilos para contacto.php

.contacto {
  padding-top: 5em;
  h1 {
    text-align: center;
  }
}

// Estilos para galeria.php
.galeria {
  min-height: 100vh;
  padding-top: 4em;
  text-align: center;
  .galeria-elemento {
    padding-bottom: 3em;
    a {
      font-size: large;
      color: #101010;
    }

  }
  .galeria-elemento:hover, .galeria-elemento:focus  {
    background-color: gray;
    a {
      color: white;
      text-decoration: none;
    }
  }

  img {
    max-width: 100%;

  }

  }

// Estilos para detalles.php


 .detalles-cont {
  min-height: 100vh;
   //padding-top: 4em;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
  h1 {
    text-align: center;
  }
   img {
     max-width: 100%;
     max-height: 40vh;
   }

}



// Estilos para footer.php

#creditos {
  font-size: smaller;
}

td {
  padding-left: 2em;
}