.home_cover, .nosotros-texto, #servicios-div, .productos-div, .contacto {
  height: 100vh;
  display: flex;
  flex-direction: column;


}

.home_cover {
  justify-content: center;

}


#servicios-div, .productos-div {
  padding-top: 4em;
  //align-items:  center;
  //justify-content: flex-start;
  h1 {
    font-size: 3em;

  }
  ul li {
    font-size: 1.6em;
  }

}

.sistemas-div {
  height: 100vh;

h1 {
  text-align: center;
}


  padding-top: 5em;
}



.home_cover {
  align-items: center;
}



.nosotros-texto {
  padding-left: 4em;
  padding-top: 5em;


  p{
    font-size: 1.2em;
  }
}

#creditos {
  font-size: smaller;
}

.contacto {
  padding-top: 5em;
}